!!!
%html(lang="ja")
  %head
    = partial 'partials/head'
  %body
    %header.global-header(role="banner")
      %h1
        %a(href="//wakate.org")
          = image_tag "logo-light-horizontal.png", alt: "情報科学若手の会"
    #main(role="main")
      %article.post
        .post-header
          %h1.post-title= current_article.title
          .post-meta
            %time(datetime="#{current_article.date}")
              = current_article.date.strftime("%Y/%m/%d")
        .post-body
          = yield

    = partial "partials/sub-contents", locals: { articles: blog.articles[0...10], tags: blog.tags }
    = partial "partials/footer"
